@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 text-primary">Bienvenido al Organizador de Eventos MVC</h1>
        <p class="lead">Organiza y gestiona tus eventos de manera sencilla.</p>
    </div>
    <div class="mt-4 text-center">
        <a class="btn btn-primary btn-lg" href="/Evento/Index">Ver Eventos</a>
        <a class="btn btn-success btn-lg" href="/Evento/Crear">Crear Evento</a>
    </div>
</div>